* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2.5rem;
}

a {
  text-decoration: none;
  color: #f7df4b;
}

ul,
ol {
  margin-left: 1rem;
  line-height: 0.25rem;
}

li {
  line-height: 1.25rem;
}
